# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yml

# Node.js
node_modules
npm-debug.log
.npm
/apps/web/dist
/apps/web/coverage

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
/apps/api-python/venv

# OS / Editor
.DS_Store
.vscode
*.swp
